$color-primary: #e2c99f;
$color-secondary: #a39b7e;
$color-tertiary: #53576b;
$color-info: #7a7b7c;
$color-bg: #353437;

$color-light-text: #ffffff;
$color-dark-text: #e2c99f;

$color-link: #e2c99f;

$color-grey-1: #7a7b7c;
$color-grey-2: #53576b;
$color-grey-3: #353437;
